PORT=7000

GRAPHQL_COOKIE_TOKEN_KEY="graphql_access_token"

BOOKS_API_URL='http://localhost:7001/graphql'
BOOKCOVER_API_URL='http://localhost:7002/graphql'
SEARCH_API_URL='http://localhost:7003/graphql'
USERS_API_URL='http://localhost:7004/graphql'
